/* src/theme/markdown.css */
._MD h1 {
  font-size: 2rem;
}
._MD h2 {
  font-size: 1.5rem;
}
._MD h3 {
  font-size: 1.17rem;
}
._MD h1,
._MD h2,
._MD h3,
._MD h4 {
  font-weight: bold;
  color: oklch(var(--p));
}
._MD ul,
._MD ol {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
._MD ul {
  list-style-type: disc;
}
._MD ol {
  list-style-type: decimal;
}
._MD li {
  margin-left: 1rem;
}
._MD table,
._MD th,
._MD td {
  border-top: 1px solid #333333;
  border-left: 1px solid #333333;
}
._MD code {
  border: 1px solid oklch(var(--p)/.2);
  display: block;
  background-color: oklch(var(--p)/.1);
  padding: .5rem;
  overflow: auto;
  white-space: pre-wrap;
}
._MD code,
._MD pre {
  font-style: italic;
}
._MD table {
  width: 100%;
  border: 2px solid var(--fallback-p,oklch(var(--a)/0.45));
}
._MD th {
  background: oklch(var(--p)/.1);
}
._MD th,
._MD td {
  border-bottom: 1px solid var(--fallback-p,oklch(var(--a)/0.45));
  border-right: 1px solid var(--fallback-p,oklch(var(--a)/0.45));
}

/* src/theme/form.css */
.FIELD:hover {
  border-left: 2px groove oklch(var(--s)/0.5);
}
.FIELDSimple._isTopLevel,
.FIELD._isTopLevel {
  margin-left: 0;
  border: none;
  padding-left: 0;
  transform: none;
}
.FIELD,
.FIELDSimple {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 2px groove oklch(var(--p)/0.5);
}
.FIELD {
  position: relative;
  padding-left: .5rem;
}
.WIDGET-FIELD {
  height: var(--input-height);
  min-height: var(--input-height);
}
.WIDGET-FIELD *::selection {
  background-color: oklch(var(--pc));
}
.WIDGET-GROUP-BORDERED {
  border-radius: .3rem;
  border-top: 1px solid oklch(var(--p)/.4);
  border-left: 1px solid oklch(var(--p)/.4);
  border-right: 1px solid oklch(var(--p)/.2);
  border-bottom: 1px solid oklch(var(--p)/.2);
}
.COLLAPSE-PASSTHROUGH:hover .WIDGET-COLLAPSE-BTN {
  opacity: 100% !important;
}
.SUB-FIELD {
  flex: 1;
}
.WIDGET-BLOCK {
  margin-left: .6rem;
  margin-right: .4rem;
  margin-top: .1rem;
}
.input {
  background-color: oklch(var( --pn)/.15) !important;
}
.text-shadow {
  text-shadow:
    0px 1px 1px var(--text-shadow-color),
    1px 1px 1px var(--text-shadow-color),
    -1px 1px 1px var(--text-shadow-color);
}
.text-shadow-inv {
  text-shadow:
    0px 1px 1px var(--text-shadow-color-inv),
    1px 1px 1px var(--text-shadow-color-inv),
    -1px 1px 1px var(--text-shadow-color-inv);
}
._SelectPopupUI,
._RevealUI {
  box-shadow: 0 2px 5px -2px oklch(var(--pc));
}
.rsx-field-error {
  border: 1px solid red !important;
}

/* src/controls/widgets/number/InputNumberUI.css */
.input-number-ui input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  width: 0;
  height: 0;
  margin: 0;
}
.input-number-ui:hover button {
  opacity: 100;
}
.input-number-ui:hover .inui-foreground {
  filter: brightness(1.20);
}
.input-number-ui .input[type=text] {
  min-width: none;
  max-width: 100%;
  height: 200px !important;
}
.custom-roundness {
  border-radius: var(--roundness);
}
